[flake8]
# Match Black's modern default formatting limit
max-line-length = 88

# Tell Flake8 to completely ignore these specific rules:
# E203: whitespace before ':' (Black formats this automatically)
# W503: line break before binary operator (Black formats this automatically)
extend-ignore = E203, W503
exclude = .git,__pycache__,venv,.mypy_cache
