[flake8]
# Match Black's modern default formatting limit
max-line-length = 88

# Tell Flake8 to completely ignore these specific rules:
# E203: whitespace before ':' (Black formats this automatically)
# W503: line break before binary operator (Black formats this automatically)
# E501: Line too long (Turning this off entirely kills the E501 errors)
extend-ignore = E203, W503, E501
